@media (max-width: 991px) {
    .options {
        margin-right: -15px;
    }

    .elementContainer {
        margin-right: -15px;
    }

    .col-md-9 {
        width: 100% !important;
        margin-left: 0px !important;
        margin-bottom: 20px;
    }

    .result {
        margin-top: 10px;
        margin-left: 50px;
    }
}

@media (min-width: 992px) and (max-width: 1225px) {
    .options {
        padding: 10px 0 0 10px;
    }

    .result {
        margin-top: 10px;
        margin-left: 300px;
    }
}
